
h1 {
    font-family: Georgia, 'Times New Roman';
    color: #7fa653;
    text-align: center;

}
input {
    height: 24px;
    width: 70%;
    border-width: 3px ;
    border-radius: 10px;
    border: 2px solid #7fa653;
    background-color: #cfe0bc;
    outline: none;
    color:  black;
}
button {
    height: 24px;
    border: 2px;
    width: 27%;
    background-color: #7fa653;
    border-width: 3px ;
    border-radius: 10px;
    outline: none;
    color: black;
    cursor: pointer;
    transition: 0,7s;   
}
button:hover{
    background-color: #63783d;
    height: 28px;
}
body {
    background-color: black;
    max-width: 400px;
    margin: 0 auto;
}
ul{
    color: white ;
}
li{
    height: 20px;
    background-color: #cfe0bc; 
    opacity: 80%;
    color: #63783d ; 
    margin: 12px auto;
    border-width: 2px;
    border-style:groove;
    border-radius: 10px;
    text-align:;
}

*{
    outline: 1px solid red !important;
}